body {
  font-size: 62.5%;
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 95%;
  height: auto;
}

.brand {
  padding-top: 5px;
  padding-left: 5px;
}

.main-app-container {
  height: 100vh;
  flex-basis: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
}

.content-container {
  background-color: #FFFFFF;
  border: 2px solid #DA3743;
  margin-bottom: 3rem;
}

.header {
  width: 90vw;
}

.searchbar {
  width: 90vw;
  margin-bottom: 5vh;
}

.search {
  width: fill;
  height: 5vh;
  font-size: 2rem;
  border: 2px solid #DA3743;;
}

.speech-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 15vh;
  width: 22vw;
  background-color: #DA3743;
}

.icon {
  color: #FFFFFF;
}

/***** MATERIALIZE OVERRIDES ***/

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

/**** MEDIA QUERIES ****/
@media screen
  and (min-width: 1279px) {
    body {
      background-color: white;
    }

    img {
      max-width: 100%;
    }
    
    .header {
    }

    .brand {
      padding: 7px;
    }

    .searchbar {
      margin-bottom: 10vh;
    }

    .speech-button {
      height: 17.5vh;
      width: 10vw;
    }
  }